* {
    border: none;
    border-radius: 0;
    font-family: "Courier New", "Courier", monospace;
    font-size: 12px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: #2e3440;
    color: #88c0d0;
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: #88c0d0;
}

#workspaces button:hover {
    background-color: #3b4252;
}

#workspaces button.focused {
    background-color: #4c566a;
    color: #88c0d0;
}

#workspaces button.urgent {
    background-color: #bf616a;
    color: #2e3440;
}

#mode {
    background-color: #bf616a;
    color: #2e3440;
    padding: 0 10px;
}

#window, #clock, #battery, #cpu, #memory, #temperature, #backlight, #pulseaudio, #tray {
    padding: 0 12px;
    color: #88c0d0;
}

#clock {
    color: #81a1c1;
}

#battery.charging {
    color: #a3be8c;
}

#battery.warning:not(.charging) {
    color: #ebcb8b;
}

#battery.critical:not(.charging) {
    color: #bf616a;
}

#cpu {
    color: #88c0d0;
}

#memory {
    color: #8fbcbb;
}

#temperature {
    color: #81a1c1;
}

#temperature.critical {
    color: #bf616a;
}

#backlight {
    color: #88c0d0;
}

#pulseaudio {
    color: #88c0d0;
}

#pulseaudio.muted {
    color: #bf616a;
}

#tray {
    padding: 0 10px;
}
